.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: calc(16px + (24 - 18)*(100vw - 600px)/(1200 - 600));
  background-color: tomato;
  cursor: pointer;
  /* border: solid black 1px; */
  border-radius: 2px;
  font-family: 'Rubik', sans-serif;
}

.available-numbers > .cell {
  background-color: rgb(63, 214, 88);
  border-radius: 10px;
}

.scribble-numbers > .cell {
  background: transparent;
}

.row {
  display: flex;
}

.grid {
  display: grid;
  margin: 10px;
  height: 93vw;
  width: 92vw;
  max-width: 350px;
  max-height: 350px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: .5px;
  user-select: none;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1px;
  padding: 2px;
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.sudoku-menu {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}

.selected-value {
  color: white;
}

.selected-square {
  opacity: 0.7;
}

.bottom-area {
  display: flex;
}

.scribble-button {
  width: 30px;
  height: 30px;
  margin-left: -40px;
  padding-right: 10px;
}

.scribble-numbers {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 1px;
  width: 80vw;
  max-width: 350px;
  max-height: 39px;
  height: calc(92vw/9);
  /* border: solid white 2px; */
}

.available-numbers {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 1px;
  width: 80vw;
  max-width: 350px;
  max-height: 39px;
  height: calc(92vw/9);
  /* border: solid rgb(104, 51, 51) 2px; */
}

.grabbed-number {
  font-size: 1.6em;
}

.invalid-number {
  color: red;
}

.s-button {
  background-color: white;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
  border: rgb(83, 66, 66) solid 1px;
  border-radius: 5px;
  user-select: none;
}