.tile {
  width: 40px;
  height: 40px;
  background-color: tomato;
}

.towers-map {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.towers-row {
  display: flex;
}

.grass {
  background-color: green;
  border: rgb(0, 110, 0) solid 1px;
}

.mountain {
  background-color: gray;
}

.water {
  background-color: lightskyblue;
  border: rgb(114, 179, 219) solid 1px;
}

.bridge {
  background-color: rgb(124, 91, 60);
  border: rgb(110, 81, 53) solid 1px;
}