.navbar-content {
  display: flex;
  background-color: #407899;
  align-items: center;
  height: 80px;
  padding: 0 20px 0 20px;
}

.navbar-logo {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  flex-wrap: nowrap;
}

.mobile-navbar-layout > div > a {
  color: white;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

.navbar-links > a {
  color: white;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  margin-right: 20px;
}

.navbar-links {
  display: flex;
  color: white;
  margin-left: 40px;
}

.navbar-links > a:hover {
  color: black;
  text-decoration: none;
  background-color: white;
}

@media (max-width: 615px) {
  .navbar-content {
    height: 50px;
    flex-direction: column;
    /* height: 400px; */
    align-items: flex-start;
    justify-content: center;
  }

  .mobile-navbar-layout {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1px 0 0 0;
  }

  .navbar-logo {
    font-size: 18px;
  }

  .menu-open {
    height: auto;
    padding-top: 11px;
  }

  #menu-icon {
    margin-top: 2px;
  }

  .navbar-links {
    /* display: none; */
    flex-direction: column;
    margin: 20px 0 0 0;
  }

  .navbar-links > a {
    margin-bottom: 20px;
  }

  .menu-button {
    background-color: white;
  }
}
